// Base
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
}

.view-screen {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  //font-family: var(--base-font-family);
  font-family: 'Open Sans', 'Times New Roman', Times, serif;
  font-weight: 300;
  background: var(--body-bg);
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-family: 'Roboto Condensed', 'Open Sans';    
  font-weight: 300;
} 


#home-hero-section{
  background-image: url("./../../static/images/HOME-1.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#home-hero-text h3,h1{
  text-align: center;
  font-weight:normal;
  color: #FFF;
}

#home-hero-text{
  position: relative;
  padding-top: 60vh;
}

#home-hero-text h3{
  font-size: 6vh;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
#home-hero-text h1{
  font-size: 16vh;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

// links ---------------
a {
  color: var(--link-color);
}



/*section 2 Top Deck Tours 
--------------------------*/

#home-poptour-section{
  height: 100vh;
  background-color: #FFF;
}
#pop-h1{
  padding-top: 10vh;
  font-size: 10vh;
  font-weight: bold;
  color: #222C39;
  padding-bottom: 6vh;
}


#med-reset,
#bali-adventure{
  background-size: cover;
  height: 50vh;
  width: 75vh;
  border-radius: 10px;
  color: #FFF;
  position: relative;
}
#bali-adventure{
  background-image: url("./../../static/images/HOME-Popular-Bali.jpg");
}

#med-reset{
  background-image: url("./../../static/images/HOME-Popular-Med.jpg");
}

.slider-txt{
  text-align: left;
  /*positions at bottom of container*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:rgba(58, 57, 57, 0.274);
  border-radius:0px 0px 10px 10px; 
}


.slider-txt h3{
  font-size: 7vh;
  margin-left: 3vh;
}

.slider-txt h4{
  font-size: 5vh; 
  margin-left: 3vh;
}

.slider-txt span{
  font-size: 3vh;
  font-weight: lighter;
}

#adv-slide{
  background-color: #F0C6D8;
}

#chill-slide{
  background-color: #F9DE7E;
}

/*styles the small div below the image with the #*/
.slider-item{
  border-radius: 10px;
  text-align: center;
  width: 28vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  left: 2.5vh;
  bottom: -2vh;
  position: relative;
}

/*GLIDER STYLES 
--------------------------*/

figure{
  display: block;
  margin: 1em;
  padding: .7em;
}

.glider-contain{
  width: 85% !important;
  margin-top: 1%;
  bottom: 1%;
}

// section 3 to go here --------------------------------------------




// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
  h1 {
    color: black;
  }
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

.packages-grid{
  display: flex;
  flex-wrap: wrap;
  .package-card {
    width: calc(33.3% - 1em);
    margin: .5em;
  }
}

// packages dialog
.package-dialog {
  --width: 70%;
}

.package-dialog::part(body){
  margin-top: -3em;
}


// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}